@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --selectionBcolor: #1ea5d9;
}

::-moz-selection {
  background: var(--selectionBcolor);
}

::selection {
  background: var(--selectionBcolor);
}

body {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1.1px;
  background: #8989ba;
  background: linear-gradient( to bottom right, #2C3E50, #FD746C, #FF8235, #ffff1c, #92FE9D, #00C9FF, #a044ff, #e73827);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  visibility: hidden;
}

.app {
  width: 650px;
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}

.desc {
  text-align: center;
  color: #ddd;
  margin-bottom: 50px;
}

.picker-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  border: 1px solid rgba(255, 255, 255, .0);
  padding: 20px 0;
}

#color-preview {
  flex-basis: 150px;
  height: 150px;
  margin-right: 50px;
  border-radius: 3px;
}

#color-hsla {
  flex-basis: 370px;
}

label {
  display: flex;
}

#typeH,
#typeS,
#typeL,
#typeA {
  width: 45px;
  height: 20px;
  text-align: right;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: none;
}


/* hide input number spinner */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label input[type="range"] {
  width: 100%;
  margin-right: 15px;
  margin-bottom: 25px;
}

label:last-child input[type="range"] {
  margin-bottom: 0px;
}

.hex-rgba-hsla-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  border: 1px solid rgba(255, 255, 255, .0);
  padding: 20px 0;
  position: relative;
}

.hex-rgba-hsla-container:after {
  content: "Double click to copy to clipboard!";
  position: absolute;
  bottom: 0px;
  font-size: 13px;
  color: #000;
  opacity: 0;
  transition: all .3s;
}

.hex-rgba-hsla-container:hover:after {
  opacity: 1;
}

input[type="text"] {
  width: 205px;
  height: 30px;
  margin-right: 20px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 16px;
  outline: none;
}

input[type="text"]:last-child {
  margin-right: 0px;
}

.randomColor {
  display: block;
  margin-top: 30px;
  width: auto;
  padding: 5px 25px;
  background: rgba(255, 255, 255, .45);
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline: none;
  transition: all .1s;
}

.randomColor:hover {
  background: rgba(255, 255, 255, .40);
}

.randomColor img {
  width: 25px;
}


/* === currentTime === */

.currentTime-container {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px 10px;
  border-radius: 3px;
  line-height: 1.5;
}

.currentTime-container h3 {
  font-size: 30px;
  text-align: center;
}

.currentTime-container ul {
  list-style: none;
  font-size: 17px;
  color: #ddd;
}

.currentTime-container li {
  display: flex;
  justify-content: center;
  align-content: center;
}

.currentTime-container .hue,
.currentTime-container .saturation,
.currentTime-container .luminosity {
  flex-basis: 110px;
}

.currentTime-container li p {
  flex-basis: 65px;
}


/* === currentTime === */

footer {
  display: block;
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, .65);
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, .65);
  transition: all .1s;
}

footer a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, .75);
}
